:root {
    --dark-text-color: #212121;
    --medium-text-color: #757575;
    --light-text-color: #ffffff;
    --accent-color: #2196f3;
    --light-background-color: #f5f5f5;
  }
  
  body {
    background-color: var(--light-background-color);
    color: var(--medium-text-color);
  }
  
  li {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }

  .title {
    color: var(--dark-text-color);
  }
  
  .logo-firstpart {
    color: var(--accent-color);
  }
  
  .logo-secondpart {
    color: #000000;
  }
  
  .logo-white-secondpart {
    color: var(--light-text-color);
  }
  